body{
    font-family:"Consolas", "Menlo", "monospace", "Courier New", "Microsoft YaHei", 微软雅黑, sans-serif;
    background-color: #777;
}

.label-default {
    background-color: #1F1F1F;
    font-weight: normal!important;
}

.label-highlighted {
    border: 2px solid #fff!important;
}

.label-warning {
    background-color: #0066FF;
}

.ranktable-head {
    width: 100%;
    position: fixed;
    z-index: 9999;
    background: #3e3e3e;
    color: #fff;
}

.ranktable-head table {
    margin: 0;
}

.ranktable-head th {
    text-align: center;
    height: 27px;
    line-height: 27px!important;
}

.table {
    table-layout: fixed !important;
}

.team-item {
    width: 100%;
    position: absolute;
    top: 44px;

    text-align: center;
    height: 67px;
    line-height: 67px !important;
    margin: 0;

    background: #000;
    color: #fff;
    -webkit-transition: background .8s ease;
    -moz-transform: background .8s ease;
    -ms-transform: background .8s ease;
    -o-transform: background .8s ease;
    transform: background .8s ease;
}

.team-item table {
    text-align: center;
    table-layout: auto;
    height: 67px;
    font-size: 20px;
    margin: 0; 
}

.team-item th,td {
    text-align: center;
    height: 67px;
    vertical-align: middle!important;
    border-top: 1px solid #777!important;
}

.team-name {
    font-size: 100%;
    white-space: nowrap;
    display: inline-block;
}

.team-school {
    font-size: 90%;
    white-space: nowrap;
    display: inline-block;
}

th.rank, td.solved, td.penalty {
    font-weight: normal;
    font-size: 30px;
}

.problem-status span {
    display: block;
    width: 100%;
    font-size: 85%;
    font-weight: bold;
    padding: 7px 0;
}

.team-item.hold {
    z-index: 1000;
    background-color: #406B82!important;
}

.team-item.gold{
    background: #F5D76E;
    color: #000;
}

.team-item.silver{
    background: #C5C6C7;
    color: #000;
}

.team-item.bronze{
    background: #C89D6D;
    color: #000;
}

#timer{
    margin: 0;
    height: 0!important;
}

::-webkit-scrollbar {
    width: 0px;
}
